CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE=octal
CONFIG_SPIRAM_SPEED_200MHZ=y
CONFIG_BSP_LCD_BUFFER_IN_PSRAM=y
